node_modules/
dist/
build/
.env
.DS_Store
.terraform/
.vscode/
*.log
*.plan
# Terraform plan and state artifacts
**/plan.tfplan
**/*.tfplan
# Terraform local backend files
*.tfstate
*.tfstate.backup
infra/terraform/data_secrets.tf
